<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Worldpay_Payments>
            <version>1.0.1</version>
        </Worldpay_Payments>
    </modules>
    <global>
        <blocks>
            <worldpay>
                <class>Worldpay_Payments_Block</class>
            </worldpay>
        </blocks>
        <helpers>
            <worldpay>
                <class>Worldpay_Payments_Helper</class>
            </worldpay>
        </helpers>
        <models>
            <worldpay>
                <class>Worldpay_Payments_Model</class>
                <resourceModel>worldpay_resource</resourceModel>
            </worldpay>
            <worldpay_resource>
                <class>Worldpay_Payments_Model_Resource</class>
                <entities>
                    <payment>
                        <table>worldpay_payment</table>
                    </payment>
                </entities>
            </worldpay_resource>
        </models>
        <resources>
            <worldpay_setup>
                <setup>
                    <module>Worldpay_Payments</module>
                    <class>Worldpay_Payments_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </worldpay_setup>
            <worldpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </worldpay_write>
            <worldpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </worldpay_read>
        </resources>
    </global>
    <default>
        <payment>
            <worldpay_cc>
                <title>Credit Cards</title>
                <model>worldpay/paymentMethods_creditCards</model>
                <active>1</active>
                <allow_specific>0</allow_specific>
                <payment_action>authorize_capture</payment_action>
                <settlementcurrency>GBP</settlementcurrency>
            </worldpay_cc>
            <worldpay_paypal>
                <title>PayPal</title>
                <model>worldpay/paymentMethods_payPal</model>
                <active>0</active>
                <allow_specific>0</allow_specific>
            </worldpay_paypal>
            <worldpay_giropay>
                <title>Giropay</title>
                <model>worldpay/paymentMethods_giropay</model>
                <active>0</active>
                <allow_specific>0</allow_specific>
            </worldpay_giropay>
            <worldpay_alipay>
                <title>Alipay</title>
                <model>worldpay/paymentMethods_alipay</model>
                <active>0</active>
            </worldpay_alipay>
            <worldpay_ideal>
                <title>iDeal</title>
                <model>worldpay/paymentMethods_ideal</model>
                <active>0</active>
            </worldpay_ideal>
            <worldpay_mistercash>
                <title>Mister Cash</title>
                <model>worldpay/paymentMethods_mistercash</model>
                <active>0</active>
            </worldpay_mistercash>
            <worldpay_przelewy24>
                <title>Przelewy24</title>
                <model>worldpay/paymentMethods_przelewy24</model>
                <active>0</active>
            </worldpay_przelewy24>
            <worldpay_paysafecard>
                <title>PaySafeCard</title>
                <model>worldpay/paymentMethods_paysafecard</model>
                <active>0</active>
            </worldpay_paysafecard>
            <worldpay_postepay>
                <title>Postepay</title>
                <model>worldpay/paymentMethods_postepay</model>
                <active>0</active>
            </worldpay_postepay>
            <worldpay_qiwi>
                <title>Qiwi</title>
                <model>worldpay/paymentMethods_qiwi</model>
                <active>0</active>
            </worldpay_qiwi>
            <worldpay_sofort>
                <title>Sofort</title>
                <model>worldpay/paymentMethods_sofort</model>
                <active>0</active>
            </worldpay_sofort>
            <worldpay_yandex>
                <title>Yandex</title>
                <model>worldpay/paymentMethods_yandex</model>
                <active>0</active>
            </worldpay_yandex>
            <worldpay>
                <active>0</active>
                <available>0</available>
                <internal_config>
                    <api_endpoint>https://api.worldpay.com/v1/</api_endpoint>
                    <js_endpoint>https://cdn.worldpay.com/v1/worldpay.js</js_endpoint>
                </internal_config>
                <language_code>EN</language_code>
                <country_code>GB</country_code>
            </worldpay>
        </payment>
    </default>
    <frontend>
        <routers>
            <worldpay>
                <use>standard</use>
                <args>
                    <module>Worldpay_Payments</module>
                    <frontName>worldpay</frontName>
                </args>
            </worldpay>
        </routers>
        <layout>
            <updates>
                <Worldpay_Payments>
                    <file>worldpay.xml</file>
                </Worldpay_Payments>
            </updates>
        </layout>
        <translate>
            <modules>
                <Worldpay_Payments>
                    <files>
                        <default>Worldpay_Payments.csv</default>
                    </files>
                </Worldpay_Payments>
            </modules>
        </translate>
    </frontend>
    <admin>
         <routers>
            <worldpay>
                <use>adminhtml</use>
                <args>
                    <module>Worldpay_Payments</module>
                    <frontName>worldpay</frontName>
                </args>
            </worldpay>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <worldpay_syncbutton_html_before>
                        <type>singleton</type>
                        <class>Worldpay_Payments_Model_Syncbutton</class>
                        <method>core_block_abstract_to_html_before</method>
                    </worldpay_syncbutton_html_before>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <worldpay>
                                            <title>WorldPay</title>
                                        </worldpay>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <worldpay>
                    <file>worldpay.xml</file>
                </worldpay>
            </updates>
        </layout>
    </adminhtml>
</config>
